html {
    font-size:24px;
    font-family: Arial, sans-serif;
}

body {
    display: grid;
    background-color: #555555;
    color: white;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 30vh);
    grid-template-rows: repeat(3, 30vh);
    min-height:90vh;
}

#game-board > div {
    display: grid;
    border: 1px dotted #ccc;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 1rem;
    width: 20%;
}
